.nav-button-spacing {
    margin-right: 5px;
}

.nav-end-div {
    display: flex;
    float: right !important;
}

.nav-bar-text {
    color: white !important;
}

.nav-bar-text:hover {
    color: grey !important;
}